@use "../.././../../@core/styles/abstracts/media-query" as *;

#warehouse {
  width: 100%;

  .cta-container {
    display: flex;
    justify-content: right;

    .btn {
      @include zns-media-query-max(zns-sm) {
        font-size: 0.7rem !important;
      }
    }
  }

  .table-content {
    margin-top: 2rem;
    width: 100%;

    .table-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      margin-bottom: -1.6rem;
      @include zns-media-query-max(zns-sm) {
        flex-direction: column;
      }

      .table-filter {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    .table-title {
      line-height: normal;
      font-size: 1rem;
      @include zns-media-query-max(zns-sm) {
        margin-bottom: 0.5rem;
      }
    }

    .input-width1 {
      width: 7.4375rem;
       @include zns-media-query-max(zns-sm) {
       width: 5.4375rem;
      }

    }

    .search {
      @include zns-media-query-max(zns-sm) {
        width: 100%;
      }

      .table-action-col {
        display: flex;
        justify-content: left;

        img {
          margin-right: 1rem;
        }
      }
    }
  }

//   .ng-continer {
//     height: 100%;
//      @include zns-media-query-max(zns-sm) {
//       overflow: auto;
//      }
// }
}
// @include zns-media-query-max(zns-sm) {
//   width: 90%;
//   margin: 0 auto;
// }

//   .cta-container {
//     display: flex;
//     justify-content: right;

//     @include zns-media-query-max(zns-sm) {
//       .btn {
//         font-size: 0.8rem;
//       }
//     }
//   }

//   .table-content {
//     margin-top: 1rem;
//     width: 100%;

//     .table-header {
//       display: flex;
//       justify-content: space-between;
//       // width: 100%;
//       width: 95%;
//       margin: 0 auto;

//       @include zns-media-query-max(zns-sm) {
//         flex-direction: column;
//       }

//       .table-title {
//         font-size: 1rem;
//         // font-weight: 500;
//         line-height: normal;
//          @include zns-media-query-max(zns-sm) {
//         margin-bottom: 0.5rem;
//       }
//       }

//       .table-filter {
//         display: flex;
//         align-items: center;
//         gap:0.3rem;

//         .input-width {
//           width: 7.5467rem;
//         }

//         .search {
//           flex-direction: column;
//           align-items: flex-start;
//           // flex: 1 0 0;
//         }

//         .filter {
//           align-items: center;
//           // flex: 1 0 0;
//         }
//       }
//     }
//   }

//   .ng-continer {
//     height: 100%;
//     @include zns-media-query-max(zns-sm) {
//       overflow: auto;
//     }

//     // .table-responsive {
//     //   overflow-x: auto;
//     // }
//   }

//   .table-action-col {
//     display: flex;
//     justify-content: left;

//     img {
//       margin-right: 1rem;
//     }
//   }
// }
