<section id="new-customer">
    <div class="new-customer-header">
        <h6 class="zns-heading-6 fw-700 mb-0">Add New customer</h6>

        <div matRipple class="close-icon-container" (click)="closeDialog()">
            <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
        </div>
    </div>

    <div class="paragraph">
        <p class="title">Customer Information</p>
    </div>

    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                <div class="input-style1 input-md">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Customer Name" formControlName="customerName" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-12">
                <div class="input-style1 input-md">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Customer Email" formControlName="customerEmail" />
                    </mat-form-field>
                </div>
            </div>
            <div class="w-100 d-flex flex-row justify-content-right px-3">
                <div class="input-style1 input-md leftPhone pr-1">
                  <mat-form-field appearance="outline" class="telephone">
                    <mat-select #selectedValue placeholder="+1">
                      <mat-select-trigger>
                        {{ selectedValue?.value || "+1" }}
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let country of countryCode"
                        [value]="country.code"
                        >{{ country.code }}: {{ country.country }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
        
                <div class="input-style1 input-md phone">
                  <mat-form-field appearance="outline" class="tele-input">
                    <input
                      matInput
                      formControlName="vendorPhone"
                      type="text"
                      placeholder="8023456789"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
        <mat-slide-toggle class="reverse-toggle" (click)="toggle()">Add Address</mat-slide-toggle>
        <div class="row post" *ngIf="isExpanded">
            <div class="col-12">
                <div class="input-style1 input-md">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Building No., Street Address" formControlName="customerName" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12">
                <div class="input-style1 input-md">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="City" formControlName="customerEmail" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-12 zns-btn-md">
                <div class="input-style1 input-md loca">
                    <mat-form-field appearance="outline" class="location">
                        <mat-select placeholder="{{selectedCountry || 'Country'}}" [formControl]="countryControl" (selectionChange)="onCountryChange()">
                            <mat-option *ngFor="let country of countries" [value]="country">
                                {{country}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="loca-input">
                        <mat-select placeholder="{{selectedState || 'State'}}" [formControl]="stateControl" (selectionChange)="onStateChange()">
                            <mat-option *ngFor="let state of selectedStates" [value]="state">
                                {{state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>




        <div class="actions post">
            <button matRipple class="btn zns-btn-primary-outline zns-btn-md zns-btn-full " (click)="closeDialog()">
                Cancel
            </button>

            <button matRipple class="btn zns-btn-primary zns-btn-md zns-btn-full add" (click)="onSubmit()">
                Add
            </button>
        </div>
    </form>
</section>