#new-customer {
    border-radius: 2.75rem;

    .new-customer-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.25rem;
    }

    .title {
        color: var(--black-30, #8B8D97);

        /* Paragraph 1/Medium */
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .paragraph {
        margin-bottom: 1.50rem;
    }

    .post {
        margin-top: 1.50rem;
    }

    .reverse-toggle {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        /* optional, adds space between buttons */
    }

    .online {
        display: flex;
        height: 3.25rem;
        padding: 0.5rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
    }


    .actions {
        margin-top: 1.75rem;
        gap: 0.6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }

    .tele {
        display: flex !important;
        flex-direction: row !important;
        width: 100% !important;
        gap: 0.5rem;

        .tele-input {
            width: 80%;
        }

        .telephone {
            width: 20%;


            .label {
                width: 3rem !important;
                padding: 0 !important;
                padding-right: 0.4rem !important;
                display: flex !important;
                flex-direction: row !important;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .loca {
        display: flex !important;
        flex-direction: row !important;
        width: 100% !important;
        gap: 0.5rem;

        .loca-input {
            width: 50%;
        }

        .location {
            width: 50%;
        }

        .label {
            width: 3rem !important;
            padding: 0 !important;
            padding-right: 0.4rem !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center;
            justify-content: space-between;
            font-family: Inter;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}