<section class="rv-forgot-bg">
  <div class="rv-box-container2">
    <h1 class="zns-heading-1 fw-600 logo">R-ventory</h1>

    <div class="context">
      <h1 class="zns-heading-6 fw-600 fyp">Forgot Your Password?</h1>
      <p class="zns-para-1 fw-500 read">
        Just put in your email address and we’ll do the rest
      </p>
    </div>

    <div class="email-container">
      <form [formGroup]="emailForm" (ngSubmit)="onLogin()">
        <div class="row">
          <div class="col-12">
            <div class="input-style1 input-md">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="esthertemitope17@gmail.com"
                  formControlName="email"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <button 
        matRipple
        class="btn zns-btn-primary zns-btn-md zns-btn-full"
        [disabled]="this.emailForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <a routerLink="../login" class="back-login">Back to Login</a>
  </div>
</section>
