@use "../../@core/styles/abstracts/media-query" as *;

.rv-forgot-bg {
  background-image: url("/assets/images/auth-backdrop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .rv-box-container2 {
    background: var(--zns-white);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.44rem 4.75rem;
    margin: 0rem auto;

    @include zns-media-query-max(zns-sm) {
      padding: 2rem;
      margin: 1.5rem;
    }
  }

  .logo {
    margin-bottom: 3.62rem;
    text-align: center;
  }

  .context {
    margin-bottom: 0.5rem;
  }

  .email-container {
    width: 100%;

    .error-message {
      margin-top: -1.2rem;
      color: #c90b0b;
      font-size: 15px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.75rem;
      margin-bottom: 2rem;

      @include zns-media-query-max(zns-sm) {
        margin-bottom: 1rem;
      }
    }
  }
}
