#dashboard {
  .rv-dashboard {
    .text-opacity {
      opacity: 0.8;
    }
    .overlaper {
      position: absolute;
      top: 47%;
      right: 6%;
      z-index: 99;
    }
    .dashboard-activity {
      background: #edebff;
      color: #2f80ed;
    }

    .w-48 {
      width: 48%;
    }
  }
}
