<section class="rv-login-bg">
  <div class="rv-box-container">
    <div class="head">
      <h1 class="zns-heading-1 fw-600 rv-head-logo">R-ventory</h1>
      <h1 class="zns-heading-5 fw-600 welcome">Welcome Back</h1>
    </div>

    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="row">
          <div class="col-12">
            <div class="input-style1 input-md">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Username"
                  formControlName="username"
                />

                <mat-error>{{ showDescriptionErrors("username") }}</mat-error>

                <mat-error *ngIf="loginError.includes('Username')">{{
                  loginError
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12">
            <div
              class="input-style1 input-md"
              [ngClass]="loginError.includes('Password') ? 'border-error' : ''"
            >
              <mat-form-field appearance="outline">
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Password"
                  formControlName="password"
                />

                <button
                  class="hide"
                  type="button"
                  mat-icon-button
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>

                <mat-error>{{ showDescriptionErrors("password") }}</mat-error>

                <mat-error *ngIf="loginError.includes('Password')">{{
                  loginError
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <button
          matRipple
          class="btn zns-btn-primary zns-btn-md zns-btn-full"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>

    <a routerLink="../forgot-password">Forgot Password? </a>
  </div>
</section>
