<section class="rv-login-bg">
  <div class="rv-box-container">
    <div class="head">
      <h1 class="zns-heading-1 fw-600 rv-head-logo">R-ventory</h1>
      <h1 class="zns-heading-5 fw-600 welcome">Welcome Back</h1>
    </div>

    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="row">
          <div class="col-12">
            <div class="input-style1 input-md">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Username"
                  formControlName="username"
                />
              </mat-form-field>

              <div>
                <small>
                  {{ showDescriptionErrors("username") }}
                </small>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="input-style1 input-md">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                />
              </mat-form-field>
              <div>
                {{ loginError }}
              </div>

              <div>
                <small>
                  {{ showDescriptionErrors("password") }}
                </small>
              </div>
            </div>
          </div>
        </div>

        <button
          matRipple
          class="btn zns-btn-primary zns-btn-md zns-btn-full"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form> 
    </div>

    <a routerLink="../forgot-password">Forgot Password? </a>
  </div>
</section>
